<a href="https://colab.research.google.com/github/Elmir22/Data-science-ML-models-/blob/main/Pandas_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Exercises

** Import pandas and read in the banklist.csv file into a dataframe called banks. **

In [2]:
import pandas as pd

In [4]:

data = pd.read_csv("/banklist.csv")
data

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
...,...,...,...,...,...,...,...
546,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,19-Aug-14
547,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,18-Nov-02
548,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,18-Feb-03
549,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,17-Mar-05
550,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,17-Mar-05

** Show the head of the dataframe **

In [ ]:
# CODE HERE

In [5]:
data.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

** What are the column names? **

In [ ]:
# CODE HERE

In [7]:
data.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

** How many States (ST) are represented in this data set? **

In [ ]:
# CODE HERE

In [9]:
data["ST"].value_counts().count()

44

** Get a list or array of all the states in the data set. **

In [ ]:
# CODE HERE

In [28]:
import numpy as np
data_st = data["ST"].value_counts().reset_index()
data_st['ST']
np.array(data_st['ST'])

array(['GA', 'FL', 'IL', 'CA', 'MN', 'WA', 'AZ', 'MO', 'MI', 'NV', 'TX',
       'WI', 'PA', 'SC', 'CO', 'MD', 'KS', 'OH', 'UT', 'OK', 'TN', 'NC',
       'NJ', 'AL', 'OR', 'VA', 'NY', 'PR', 'LA', 'AR', 'IN', 'NM', 'NE',
       'MS', 'CT', 'IA', 'KY', 'ID', 'MA', 'SD', 'WY', 'WV', 'NH', 'HI'],
      dtype=object)

** What are the top 5 states with the most failed banks? **

In [ ]:
# CODE HERE

In [31]:
data["ST"].value_counts().head()

ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: count, dtype: int64

** What are the top 5 acquiring institutions? **

In [ ]:
# CODE HERE

No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: Acquiring Institution, dtype: int64

** How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

In [ ]:
# CODE HERE

In [33]:
data[data["Acquiring Institution"].str.contains('State Bank of Texas')]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
21,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14,6-Jan-16
450,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,2-Jul-09,26-Oct-12

** What is the most common city in California for a bank to fail in?**

In [ ]:
# CODE HERE

In [85]:
ca = data[data["ST"].str.contains('CA')]
los_a = ca['City'].value_counts().reset_index()
los_a['City'][0]

'Los Angeles'

,Bank Name,ST,CERT,Acquiring Institution,Closing Date,Updated Date
City,,,,,,
Los Angeles,4,4,4,4,4,4

** How many failed banks don't have the word "Bank" in their name? **

In [ ]:
# CODE HERE

In [91]:
bank_name = data["Bank Name"].str.contains('Bank').reset_index()
bank_name[bank_name['Bank Name'] == False].count()

index        14
Bank Name    14
dtype: int64

14

** How many bank names start with the letter 's' ? **

In [ ]:
# CODE HERE

In [99]:
data[data['Bank Name'].str.startswith('S')].shape[0]

53

** How many CERT values are above 20000 ? **

In [ ]:
# CODE HERE

In [108]:
data[data['CERT'] > 20_000].shape[0]

417

** How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [ ]:
# CODE HERE

In [115]:
data["wordcount"] = data['Bank Name'].str.split().apply(len)
data[data['wordcount'] == 2].shape[0]

114

** How many banks closed in the year 2008?

In [ ]:
# CODE HERE

In [122]:
data[data['Closing Date'].str.endswith('08')].shape[0]

25